/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

/* LAYOUT */
.container {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
}

.container-large {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.col-30 {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

/* UTILITIES */
.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.g-10 {
    gap: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.bg-blue {
    background-color: rgb(169, 200, 227);
}

/* HEADER */
header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

/* MAIN */
.hero-section {
    padding: 100px 0px;
}

.base-section {
    padding: 50px 0px;
}